*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
   
}
#header {
    background-color: rgb(243, 181, 145);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    background-size: 100% 200px;

    
}

#header h1{
    color: rgb(54, 36, 77);
    text-shadow: 3px 3px rgb(221, 211, 211);
    position: absolute;
}
#date {
    position:  absolute;
    top: 150px;
    font-family: Arial, Helvetica, sans-serif;
}
#cube  {
    position: absolute;
    background-color: white;
    top: 2px;
    left: 2px;
    height: 25px;
    width: 25px;
    transition: left linear;
    transition-duration: .5s;

}
#cube2  {
    position: absolute;
    background-color: white;
    bottom: 2px;
    right: 2px;
    height: 25px;
    width: 25px;
    transition: right linear;
    transition-duration: 1s;

}
#header:hover #cube2  {
   right : 50px
}

#header:hover #cube  {
    left : 50px;
 }

#navbar {
    background-color: rgb(235, 193, 193);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    
    
}
#navbar a {
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin-left: 20px;
   
    
}
#navbar a:hover {
    background-color: rgb(197, 209, 209);
    color: aqua;
}

#main {
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
}
#sid {
    flex: 20%;
    background-color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#sid p,h2{
    margin: 20px;
}
#right {
    flex: 80%;
    
    
}
#post {
    width: 70%;
    border: 1px;
    border-color: rgb(145, 143, 143);
    border-style: solid;
    padding: 20px;
    background-color:rgb(170, 165, 165) ;
    margin: 30px;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: -5px 5px 20px black;
} 
#post p {
    margin: 20px;
}
#post a {
    position: absolute;
    right : 5px;
    bottom: 2px;
    text-decoration: none;
    color: black;
    
}
#line{
    border-bottom: .5px;
    border-top: 0ch;
    border-style: solid;
    border-color: rgb(109, 106, 106);
}
#avatar{
max-width: 250px;
height: 200px;
border-radius: 300px;

}
#right h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 20px;
    position: relative;
    margin: 20px;
    

    
}
#postImage {
    
    width: 100%;
    height: 200px;
    background-color: rgb(35, 36, 36);
    border-radius: 10px;
  
    
}    
#footer {
    background-color: rgb(66, 64, 64);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

#footer p {
 color: aqua;
 position: absolute;
}
#footer a {
    position: relative;
    top: 50px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    
  }
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram{
    background: #e95318;
    color: white;
  }
@media screen and ( max-width :700px) {
    #navbar #main {
        flex-direction: column;
    }
    #avatar {
        width: 40%;
        margin-left: 150px;
    }

    #post {
       
       width: 80%;
    }
    #right h2 {
       text-align: center;
    }
}