* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body {
    height: 100vh;
    display: grid;
    grid-template-areas: 'header header header'
                          'aside main main'
                          'aside footer footer';
    grid-template-columns: 1fr 3fr 1fr;   
    grid-template-rows: 1fr 4fr 1fr;                   
}
header,
aside,
main,
footer {
    background-color: steelblue;
    border: 1px  skyblue solid;
    
}
header {
    grid-area: header;
    text-align: center;
    color: aliceblue;
    position: relative;
    height: 200px;
    
}
header h1 {
   margin-top: 50px;
}
.navbar {
    position: absolute;
    display: flex;
    bottom: 0%;
    left: 2px;
    background-color: rgb(45, 80, 88);
    width: 100%;
    
    
    
    
}
.navbar a {
    color: aliceblue;
    text-decoration: none;
    
    padding: 15px;
}
.navbar a:hover:not(.search) {
    background-color: azure;
    color: rgb(1, 29, 29);
}
.search{
  margin-left: auto;
  margin-right: 100px;
}
.search button:hover {
    cursor: pointer;
}
aside {
    grid-area: aside;
    /* text-align: center; */
    padding: 20px;
  
    
}
aside p {
  text-justify: newspaper;
  margin: 10px;
  color: aliceblue;
}
main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    /* justify-content: center;
    align-items: center; */
    padding: 10px;
}
footer {
    grid-area: footer;
}
.card{
  width: 250px;
  height: 350px;
  background-color: rgb(214, 218, 217);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* margin: 15px; */
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
 
  
  
}
.cardImage{
  object-fit: cover;
  height: 250px;
  width: 230px;
  margin-top: 5px;
  

}
.card p {
  position: absolute;
  color: blue;

}
footer{
  text-align: center;
  color: aliceblue;
  padding: 30px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #e0270f;
  color: white;
}
@media only screen and (max-width: 768px) {
  body {
    grid-template-areas: 'header header header'
                          'main main main'
                          'aside aside aside'
                          'footer footer footer';
  }
  body > {
    width: 100%;
  }
  .navbar {
    flex-direction: column;
  }
  header {
    height: 450px;
  }
  header h1 {
    left: 8%;
  }
  .search{
  margin-left: 0px;
  margin-right: 0px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}